


<div class="container-fluid">
  <div class="row align-items-start row-flex" >
    <div class="flex-left">
      <app-sidebar ></app-sidebar>
    </div>
    <div class="flex-right">
     
      <div class="row">
         <app-topbar></app-topbar>
          <router-outlet></router-outlet> 
      </div>
    </div>
  </div>

</div>
<footer class="bg-light text-center text-lg-start space-margin footer-position">
  <!-- Copyright -->
  <div class="text-center p-3 footer-bg-color" >
      <div class="fonter">Covid-19 Tracker By YiChu Lau</div>
  </div>
  <!-- Copyright -->
</footer>